<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Step 1</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div th:insert="fragments/_header :: header"></div>
    <h1>Step 1</h1>
    <img th:src="@{/img/one.jpg}" alt="the number one" width="50px" height="50px">
    <p>The first step to count to 3 is to count to 1.
    1, or "one", is the first number, except for when it is 0,
     but most people say it is 1. So anyways, count to 1.</p>

    <button id="nextBtn">>> Next Step >></button>
    <div th:replace="fragments/_footer :: footer"></div>
</body>
<script type="text/javascript" th:src="@{/main.js}"></script>
</html>